<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [14]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [11]:

    heart_df = pd.read_csv('data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [16]:
# Let's check this variable out
df.dtypes

NameError: name 'df' is not defined

In [ ]:
# What type is this variable?

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [ ]:
# Let's grab just one column

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [ ]:
# Grab the same column as an attribute
heart_df.age

In [ ]:
# What type is the column?

Both Series and DataFrames have an *index* as well:

In [ ]:
# Check out the dataframe index

In [ ]:
# Check out the series index

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [ ]:
# Check out the dataframe columns

In [ ]:
# Now try with the series

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [ ]:
# Check out the dataframe values

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

### `.tail()` : last 5 rows

### `.info()` : information about the columns, including about nulls in those columns

### `.describe()` : statistics about the data

### `.dtypes` : data types of each column

### `.shape` : number of rows and columns

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [ ]:
# Calculate the mean - for the whole dataframe!

Let's pause and interpret - any observations?

-

In [ ]:
# Now min

In [ ]:
# And max

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [27]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')
intakes_url

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [28]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intakes_url.shape

(136763, 12)

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!

In [ ]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder

In [ ]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows

In [ ]:
# Check the last 5 rows

In [31]:
# Check the shape
intakes_url.info

<bound method DataFrame.info of        Animal ID     Name             DateTime  Year  \
0        A786884   *Brock  2019-01-03 16:19:00  2019
1        A706918    Belle  2015-07-05 12:59:00  2015
2        A724273  Runster  2016-04-14 18:43:00  2016
3        A665644      NaN  2013-10-21 07:59:00  2013
4        A682524      Rio  2014-06-29 10:38:00  2014
...          ...      ...                  ...   ...
136758   A852238  A852238  2022-02-28 14:02:00  2022
136759   A852221     Coco  2022-02-28 11:05:00  2022
136760   A851977    *Jack  2022-02-22 13:34:00  2022
136761   A852127    Sonic  2022-02-25 13:05:00  2022
136762   A852194    Queen  2022-02-27 13:44:00  2022

                                    Found Location Intake Type  \
0              2501 Magin Meadow Dr in Austin (TX)       Stray
1                 9409 Bluegrass Dr in Austin (TX)       Stray
2               2818 Palomino Trail in Austin (TX)       Stray
3                                      Austin (TX)       Stray
4                    800 Grove Blvd in Austin (TX)       Stray
...                                            ...         ...
136758  Cameron And Crosspark Drive in Austin (TX)       Stray
136759                   45 And 183 in Travis (TX)       Stray
136760        1200 Montopolis Drive in Austin (TX)       Stray
136761      7601 Daffan Ln Unit 424 in Austin (TX)       Stray
136762            8071 N Lamar Blvd in Austin (TX)       Stray

       Intake Condition Animal Type Sex upon Intake Age upon Intake  \
0                Normal         Dog   Neutered Male         2 years
1                Normal         Dog   Spayed Female         8 years
2                Normal         Dog     Intact Male       11 months
3                  Sick         Cat   Intact Female         4 weeks
4                Normal         Dog   Neutered Male         4 years
...                 ...         ...             ...             ...
136758           Normal         Dog   Intact Female        6 months
136759           Normal         Dog     Intact Male         3 years
136760           Normal         Dog     Intact Male         2 years
136761           Normal         Dog     Intact Male         2 years
136762           Normal         Dog   Intact Female        4 months

                                        Breed         Color
0                                  Beagle Mix      Tricolor
1                    English Springer Spaniel   White/Liver
2                                 Basenji Mix   Sable/White
3                      Domestic Shorthair Mix        Calico
4       Doberman Pinsch/Australian Cattle Dog      Tan/Gray
...                                       ...           ...
136758                 Labrador Retriever Mix   Black/White
136759                         Great Pyrenees         White
136760          Chihuahua Shorthair/Dachshund   Black/White
136761                           Pit Bull Mix  White/Yellow
136762                             Cane Corso    Blue Cream

[136763 rows x 12 columns]>

In [32]:
# Check the datatypes
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [33]:
# Check more general information on the dataframe
intakes_url.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

In [ ]:
# Check summary/descriptive statistics on the dataframe

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [42]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [49]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row, orient = 'index').T

In [55]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter!

animals = pd.concat([intakes_url, new_animal], ignore_index = True)

In [ ]:
# Let's check the end to make sure we were successful!

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [56]:
# Create a new column, 'test', where every value in the col is 0
animals['test'] = 0

In [57]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,test
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,0
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,0
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,0
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,0
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,0
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,0
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,0
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,0

But we don't need that - let's drop that column.

In [63]:
# Drop that test column
animals.drop(columns = ['MonthYear'] ,inplace = True)

In [64]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [67]:
# Create a new column, 'Type', from the two 'Type' columns
animals['type'] = animals['Intake Type'] + "" + animals['Animal Type']

In [66]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,type
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,StrayCat
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,StrayDog
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,StrayDog
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,StrayDog
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,StrayDog
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,StrayDog
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public AssistCat

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [81]:
# What type is the DateTime column now?
animals["Datetime"] = pd.to_datetime(animals['Year of Intake'])

KeyError: 'Year of Intake'

In [70]:
# Let's make that a datetime datat
animals['Year'].dt.dayofweek

0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
136759    3.0
136760    3.0
136761    3.0
136762    3.0
136763    NaN
Name: Year, Length: 136764, dtype: float64

In [ ]:
# Sanity check

In [71]:
# Now we can access parts of a datetime object using .dt - an attribute!
animals['day of week'] = animals['Year'].dt.dayofweek

In [72]:
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,type,day of week
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog,3.0
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog,3.0
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog,3.0
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,StrayCat,3.0
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,StrayDog,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,StrayDog,3.0
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,StrayDog,3.0
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,StrayDog,3.0
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,StrayDog,3.0
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public AssistCat,NaN

In [80]:
# Make that into a new column
animals['Intake Year'] = pd.to_datetime(animals['DateTime'], format='mixed')

ValueError: time data '2019-01-03 16:19:00' does not match format 'mixed' (match)

In [77]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,type,day of week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog,3.0,2019-01-03 16:19:00
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog,3.0,2015-07-05 12:59:00
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog,3.0,2016-04-14 18:43:00
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,StrayCat,3.0,2013-10-21 07:59:00
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,StrayDog,3.0,2014-06-29 10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,StrayDog,3.0,2022-02-28 11:05:00
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,StrayDog,3.0,2022-02-22 13:34:00
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,StrayDog,3.0,2022-02-25 13:05:00
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,StrayDog,3.0,2022-02-27 13:44:00
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,Public AssistCat,NaN,2022-02-28 11:25:00

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [79]:
# Check which rows have an intake year greater than or equal to 2020
animals.loc[animals['Intake Year'], >= 2020]

SyntaxError: invalid syntax (497264554.py, line 2)

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [ ]:
# Create a subset dataframe of animals taken in during or after 2020

In [ ]:
# Sanity check

We can return only certain columns when we do this, by adding an argument after the condition:

In [ ]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [ ]:
# Find all the Stray Cats taken in during or after 2020

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [82]:
# Find the first 3 rows
animals.iloc[1244:1245]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,type,day of week,Intake Year
1244,A802927,Honeybun,2019-10-12 15:25:00,1970-01-01 00:00:00.000002019,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,6 months,Labrador Retriever Mix,Brown,Owner SurrenderDog,3.0,2019-10-12 15:25:00

In [84]:

# Same as using head(3)
animals.iloc[0:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,type,day of week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog,3.0,2019-01-03 16:19:00
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog,3.0,2015-07-05 12:59:00
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog,3.0,2016-04-14 18:43:00

In [ ]:
# Can look exactly where the 0 index is

In [88]:
# But what about our subset dataframe above? It doesn't have an index 0
animals.iloc[56,:]

Animal ID                                 A736501
Name                                       Travis
DateTime                      2016-10-11 16:43:00
Year                1970-01-01 00:00:00.000002016
Found Location                        Austin (TX)
Intake Type                       Owner Surrender
Intake Condition                             Sick
Animal Type                                   Cat
Sex upon Intake                     Neutered Male
Age upon Intake                          15 years
Breed                      Domestic Shorthair Mix
Color                                       Black
type                           Owner SurrenderCat
day of week                                   3.0
Intake Year                   2016-10-11 16:43:00
Name: 56, dtype: object

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [ ]:
# Check the value counts for Animal Type

In [ ]:
# Now check Breed

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [ ]:
# Use the normalize argument to view as percentages

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [ ]:
# Let's sort the year column

In [ ]:
# Now, sort the Animal Type col

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.